body {
    background-color: black;   
}

div {
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 1px 20px;
    background-image: url(Assets/backgorund.png);
    background-size: cover;
    margin: auto;
    margin-top: 10%;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    font-size: 25px;
}

a {
    text-decoration: none;
    color:black;
}
li {
    font-size: 18px;
    margin-left: 10px;  
}
.Instagram {
    list-style-image: url(Assets/Insta.png);
}
.Twitter {
    list-style-image: url(Assets/Twitter.png);
}
.YouTube {
    list-style-image: url(Assets/Youtube.png);
}